
<h3>{{name}}</h3>
<img src={{image}} alt="burger">
<h4>Restaurant: {{restaurant}}</h4>
<p>Description: {{description}}</p>
<p>Comment: {{comment}}</p>


<a href="/burger/edit/{{id}}">Edit Burger</a>
<a href="/burger/delete/{{id}}">Delete Burger</a>

<a href="/burger">Burger list</a>