<main>

<div class="burger-card-view">
    <h2>{{name}}</h2>
    <img src={{image}} alt="burger">
    <h4>Restaurant:</h4> 
        <p>{{restaurant}}</p>
    <h4>Description:</h4>
        <p>{{description}}</p>
    <h4>Comment:</h4>
        <p>{{comment}}</p>
    <div class="edit-delete-buttons">
        <a href="/burger/edit/{{id}}">Edit Burger</a>
        <a href="/burger/delete/{{id}}">Delete Burger</a>
    </div>
</div>

</main>